client_id = "{{ oauth2_proxy_client_id }}"
client_secret = "{{ oauth2_proxy_client_secret }}"
cookie_name = "_oauth2_proxy"
cookie_domain = "logging.lsst.codes"
cookie_expire = "730h"
cookie_secret = "{{ oauth2_proxy_cookie_secret }}"
cookie_secure = true
email_domains = ["*"]
github_org = "lsst"
pass_access_token = false
pass_host_header = true
provider = "github"
upstreams = ["http://localhost:5601/"]