output {
  elasticsearch {
    hosts => ["es.lsst.codes:9200", "es-3.lsst.codes:9200"]
    sniffing => false
    manage_template => false
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}